{% extends 'user/design.html' %}
{% block userblock %}
{% load staticfiles %}
<style>
    .upload{
    position: absolute;
    top:60px;
    left:270px;
    padding:10px;
    width:500px;
}

.upload table{
    width:30em;
    text-align:center;
    //border-collapse:collapse;
    border-spacing:1px;
    background:;
}

.upload table tr th{
    color:;
}
.upload table tr th{
background:
padding:10px;
}
.upload table tr td{
background:rgb(0, 0, 225,0.5);
padding:10px;
}
.upload table tr:hover td{
background:r);
}

</style>



<div id="aa" style="font-family:Arial;font-size:30px;font-weight:bold;color:white;">UPLOAD PAGE</div><br>
<div class="upload">
<form method="post" autocomplete="off" enctype="multipart/form-data">
    {% csrf_token %}
<table>
    <tr><td style="color:yellow">WEATHER</td>
    <td style="color:yellow" >{{form.wheather}}</td></tr>
     <tr style="color:yellow"><td>AREA</td>
    <td>{{form.area}}</td></tr>
     <tr><td style="color:yellow" >IMAGE</td>
    <td>{{form.images}}</td></tr>
     <tr><td style="color:yellow" >DISTRICT</td>
    <td>{{form.distric}}</td></tr>
     <tr><td style="color:yellow" >STATE</td>
    <td>{{form.state}}</td></tr>


    <tr>
            <td style="text-align:center;" colspan="2"><input type="submit" name="submit" value="SUBMIT" style="background:yellow;color:black"></td>
        </tr>

</table>

</form>

</div>

{% endblock %}